<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>

    <add name="GEOIP"
         connectionString="Data Source=RetailQA; User Id=GEOIP_WEB_APP; Password=GEOIP_WEB_2016;"
         providerName="Oracle.ManagedDataAccess.Client"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
  <nlog autoReload="true" xdt:Transform="Replace">

    <extensions>
      <add assembly="NLog.Web" />
    </extensions>

    <targets async="true">
      <target type="File" name="file" fileName="${basedir}\${shortdate}.log"
                   layout="CreatedAt: ${longdate}${newline}
                    Level: ${level:uppercase=true}${newline}
                    Logger: ${logger}${newline}
                    Message: ${message}${newline}
                    Exception: ${exception:format=tostring:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}${newline}
                    URL: ${aspnet-request:serverVariable=HTTP_URL}${aspnet-request:queryString}${newline}"/>

    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
</configuration>
